@import "./partials/vars";
@import "./partials/global";
.topbar {
  background-color: $color-main;
  padding: $base-padding;
  text-align: center;
  text-transform: uppercase;
  color: $color-text;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}
header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $color-background;
  .first-nav {
    padding: $base-padding * 1.5;
    border-bottom: 1px solid $color-secondary;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      font-weight: $font-weight-normal;
      color: $color-main;
      li {
        width: 33.33%;
        display: flex;
        align-items: center;
        gap: 50px;
        max-width: 500px;
      }

      #search-item {
        justify-content: flex-end;
        form {
          display: flex;
          input {
            border: none;
            padding: $base-padding * 0.5 0;
            border-bottom: 3px solid $color-main;
            color: $color-main;
            font-size: $font-size-normal;
            &::placeholder {
              color: $color-main;
              font-family: $font-main;
              font-weight: $font-weight-normal;
            }
            &:focus {
              outline: none;
            }
          }
          button {
            background-color: transparent;
            font-size: $font-size-normal;
            border: none;
            color: $color-main;
            cursor: pointer;
          }
        }
      }
      #heading-item {
        justify-content: center;
        h1 {
          font-family: $font-secondary;
          font-style: italic;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .second-nav {
    padding: $base-padding * 1.5;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      color: $color-main;
    }
  }
}
main {
  .carousel {
    position: relative;
    min-height: 80vh;

    .controls {
      user-select: none;
      z-index: 4;
      position: absolute;
      inset: 0;
      display: flex;
      flex-wrap: wrap;
      .controls__arrows-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        .arrow {
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          border: 3px solid $color-background;
          background-color: rgba($color-background, $alpha: 0.2);
          backdrop-filter: blur(5px);
          border-radius: 50%;
          color: $color-text;
          font-size: $font-size-lg;
        }
      }
      .controls__dots-wrapper {
        width: 100%;
        align-self: flex-end;
        margin-bottom: 50px;
        text-align: center;
        .dot {
          display: inline-block;
          border: 3px solid $color-background;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          margin: 0 5px;
        }
        .dot.active {
          background-color: $color-background;
        }
      }
    }
    .carousel__items-wrapper {
      position: absolute;
      inset: 0;
      .carousel__item-1 {
        background-image: url("../images/hero1.png");
      }
      .carousel__item-2 {
        background-image: url("../images/hero.png");
      }
      .carousel__item-3 {
        background-image: url("../images/hero.png");
      }
      .carousel__item-4 {
        background-image: url("../images/hero.png");
      }
      .carousel__item {
        &.active {
          opacity: 1;
        }
        transition: opacity 0.3s;
        opacity: 0;
        background-size: cover;
        background-position: center;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .carousel__item__text {
          z-index: 4;
          text-align: center;
          color: $color-text;
          padding: $base-padding * 2;
          backdrop-filter: blur(2px);
          h2 {
            font-size: $font-size-xxl;
          }
          p {
            font-size: $font-size-xl;
          }
          button {
            cursor: pointer;
            margin-top: 2em;
            padding: $base-padding $base-padding * 3;
            background-color: $color-main;
            border: none;
            color: $color-text;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
}
