@import "./partials/vars";
@import "./partials/global";
.topbar {
  user-select: none;
  background-color: $color-main;
  padding: $base-padding;
  text-align: center;
  text-transform: uppercase;
  color: $color-text;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}
header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $color-background;
  box-shadow: 0px 3px 10px -5px;
  .first-nav {
    padding: $base-padding * 1.5;
    border-bottom: 1px solid $color-secondary;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      font-weight: $font-weight-normal;
      color: $color-main;
      li {
        width: 33.33%;
        display: flex;
        align-items: center;
        gap: 50px;
        max-width: 500px;
      }

      #search-item {
        justify-content: flex-end;
        form {
          display: flex;
          input {
            border: none;
            padding: $base-padding * 0.5 0;
            border-bottom: 3px solid $color-main;
            color: $color-main;
            font-size: $font-size-normal;
            &::placeholder {
              color: $color-main;
              font-family: $font-main;
              font-weight: $font-weight-normal;
            }
            &:focus {
              outline: none;
            }
          }
          button {
            background-color: transparent;
            font-size: $font-size-normal;
            border: none;
            color: $color-main;
            cursor: pointer;
          }
        }
      }
      #heading-item {
        justify-content: center;
        h1 {
          font-family: $font-secondary;
          font-style: italic;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .second-nav {
    padding: $base-padding * 1.5;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
      color: $color-main;
    }
  }
}
main {
  .carousel {
    position: relative;
    min-height: 80vh;
    .controls {
      user-select: none;
      z-index: 4;
      position: absolute;
      inset: 0;
      display: flex;
      flex-wrap: wrap;
      .controls__arrows-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        .arrow {
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          border: 3px solid $color-background;
          background-color: rgba($color-background, $alpha: 0.2);
          backdrop-filter: blur(5px);
          border-radius: 50%;
          color: $color-text;
          font-size: $font-size-lg;
        }
      }
      .controls__dots-wrapper {
        width: 100%;
        align-self: flex-end;
        margin-bottom: 50px;
        text-align: center;
        .dot {
          display: inline-block;
          border: 3px solid $color-background;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          margin: 0 5px;
        }
        .dot.active {
          background-color: $color-background;
        }
      }
    }

    .carousel__items-wrapper {
      position: absolute;
      inset: 0;
      overflow: hidden;
      @for $i from 1 through 4 {
        .carousel__item-#{$i} {
          background-image: url("../images/hero#{$i}.jpg");
        }
      }
      .carousel__item {
        content-visibility: auto;
        background-size: cover;
        background-position: center;
        &.active {
          opacity: 1;
          visibility: visible;
        }

        transition: opacity 0.3s;
        opacity: 0;
        background-size: cover;
        background-position: center;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .carousel__item__text {
          z-index: 4;
          text-align: center;
          color: $color-text;
          padding: $base-padding * 2;
          backdrop-filter: blur(2px);
          h2 {
            font-size: $font-size-xxl;
          }
          p {
            font-size: $font-size-xl;
          }
          button {
            cursor: pointer;
            margin-top: 2em;
            padding: $base-padding $base-padding * 3;
            background-color: $color-main;
            border: none;
            color: $color-text;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
}
section {
  padding: 100px;
  background-color: #fff8fb;
  h2 {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    font-size: $font-size-xl;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    color: $color-main;
    &::after,
    &::before {
      content: "";
      height: 3px;
      width: 30%;
      background-color: $color-main;
      position: absolute;
      top: 50%;

      transform: translateY(-50%);
    }
    &::after {
      left: 0;
    }
    &::before {
      right: 0;
    }
  }
}
section.collections {
  .collections__cards-wrapper {
    display: flex;
    gap: 50px;
    @for $i from 1 through 3 {
      .collections__card-#{$i} {
        background-image: url("../images/cards/card-#{$i}.jpg");
      }
    }
    .collections__card {
      background-color: red;
      aspect-ratio: 1 / 1;
      position: relative;
      width: 33.33%;

      background-size: cover;
      background-position: center;

      .collections__card__content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-xl;
        color: $color-text;
      }
      .collections__card__overlay {
        transition: all 0.3s;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: rgba(46, 46, 46, 0.3);
        backdrop-filter: blur(5px);
        &::before,
        &::after {
          content: "";
          position: absolute;
          transition: all 0.3;
          width: 60%;
          height: 60%;
        }
        &::after {
          bottom: 0;
          right: 0;
          border-bottom: 3px solid $color-background;
          border-right: 3px solid $color-background;
        }
        &::before {
          top: 0;
          left: 0;
          border-top: 3px solid $color-background;
          border-left: 3px solid $color-background;
        }
      }
      p {
        height: 100%;
        user-select: none;
        position: relative;
        z-index: 3;
      }
      &:hover {
        .collections__card__overlay {
          backdrop-filter: blur(0px);
        }
      }
    }
  }
}
section.best-selling {
  .items__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    .product-item {
      .product-item__content {
        border: 1px solid #e9cdc9;
        transition: border 0.3s, box-shadow 0.3s;
        padding: $base-padding;
        &:hover {
          border: 1px solid transparent;
          box-shadow: 3px 3px 20px 0px #e9cdc9;
          img {
            transform: scale(1.1);
          }
        }
      }

      img {
        user-select: none;
        transition: transform 0.3s;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
      .product-item__text {
        margin-top: 10px;
        .name {
          font-size: $font-size-lg;
          font-weight: $font-weight-normal;
          color: $color-main;
        }
        .price {
          font-size: $font-size-normal;
          font-weight: $font-weight-normal;
          margin-top: 10px;
          color: rgba($color-main, 0.5);
        }
        .footer {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          .hearths-wrapper {
            user-select: none;
            gap: 5px;
            font-size: $font-size-lg;
            color: rgba($color-main, 0.5);
            .filled {
              color: $color-main;
            }
          }
          .tagBtn {
            cursor: pointer;
            font-size: $font-size-lg;
            color: $color-main;
            border: none;
            background-color: transparent;
          }
        }
        .tagsContainer {
          max-height: 0;
          opacity: 0;
          margin-top: 0px;
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          transition: all 0.3s ease-out;

          .tag {
            cursor: pointer;
            border-radius: 100px;
            background-color: $color-main;
            padding: 5px 10px;
            font-size: $font-size-sm;
            color: $color-text;
          }
        }
        .tagsContainer.active {
          margin-top: 20px;
          max-height: 500px;
          opacity: 1;
        }
      }
    }
  }
}
