// Colors
$color-main: #7d103e;
$color-secondary: #e9cdc9;
$color-background: #ffffff;
$color-text: $color-background;
// Fonts
$font-main: "Poppins", sans-serif;
$font-secondary: "Playfair Display", serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-size-sm: 0.7em;
$font-size-normal: 1em;
$font-size-md: 1.2em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;
$font-size-xxl: 3em;
// Padding
$base-padding: 1em;
